$bootstrap-icons-font-dir: "../fonts";
@import "mmenu-js/src/mmenu";
@import "bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.scss';

body {
  #page {
    @import './Sections/Header';
    @import './Sections/Content';
    @import './Sections/Footer';
  }
}